body{
    margin: 0 2em;
    padding: 0;
    background: palegoldenrod;
}
.nav img{
    width: 50px;
    height: 50px;
    border-radius: 25px ;
}
.nav h3{
    
}
.navigation{
    
    
}
.navigation ul{
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    list-style: none;
}
.navigation ul a {
    text-decoration: none;
    padding: 15px;  
}
.navigation ul a:hover{
    background: rgb(197, 64, 64); 
    border-radius: 20px;
    color: aqua;
}
.body{
    display: flex;
    width: 90%;
    flex: 1;
    gap: 2rem;
    padding: 4px;
    flex-wrap: wrap;
    
}
.body img{
   width: 50%;
   height: 300px;
   padding: 5px;
   border-radius: 10px;
}
.body p{
    display: flex;
    flex: 1;
    background: purple;
    border-radius: 6px;
    padding: 5px;
    font-size: 25px;
    color: aliceblue;
}
.chefs{
    display: flex;
    gap: 0.5rem;
    flex: 1;
    
}
.sub-chefs{
    
}
@media screen and (max-width:400px) {
    .body img{
        width: 170px;
        height: 200px;
     }
     .body p{
         font-size: 12px;
         background: rgb(169, 177, 169);
     }
     .body{
        display: flex;
        flex: 1;
        padding: 4px;
        gap: 0.5rem;
        flex-wrap: wrap;
    }
    .chefs{
        display: flex;
        gap: 0.5rem;
        flex: 1;
        flex-wrap: wrap;
    }
    .sub-chefs{
        display: flex;
        flex: 1;
        gap: 0.5rem;
    }
    .sub-chefs img{
        width: 100px;
        height: 100px;
        border-radius: 15px;
    }
    #pic-no{
        order: 1;
    }
    #pic-no3{
        order: 1;
    }
    #pic-no5{
        order: 2;
    }
}