body{
    margin: 0 2em;
    padding: 0;
    background: palegoldenrod;
}
.nav img{
    width: 50px;
    height: 50px;
    border-radius: 25px ;
}
.nav h3{
    
}
.navigation{
    
    
}
.navigation ul{
    display: flex;
    flex: 1 1 0;
    flex-wrap: wrap;
    list-style: none;
}
.navigation ul a {
    text-decoration: none;
    padding: 15px;  
}
.navigation ul a:hover{
    background: rgb(197, 64, 64); 
    border-radius: 20px;
    color: aqua;
}
.body{
    display: flex;
    width: 90%;
    max-height: 300px;
    flex: 1;
    gap: 2rem;
    padding: 4px;
    
}
.body img{
   width: 50%;
   height: 300px;
   padding: 5px;
   border-radius: 10px;
}
.body .text p{
    display: flex;
    flex: 1;
    background: purple;
    border-radius: 6px;
    padding: 5px;
    font-size: 20px;
    color: aliceblue;
}
@media screen and (max-width:400px) {
    .body img{
        width: 150px;
        height: 150px;
     }
     .body p{
         font-size: 10px;
         background: green;
     }
     .body{
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        padding: 4px;
        gap: 0.5rem;
        height: 300px;
        flex-wrap: wrap;
    }
}