body {
  background-color: #faebd7;
  margin: 0;
}
.menu {
  background-color: aliceblue;
  height: 60px;
  margin-bottom: 0;
}
.sub-menu {
  list-style: none;
  float: right;
  padding: 15px;
}
.sub-menu a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 8px;
  background: white;
  padding: 5px;
  border-radius: 5px;
}
.sub-menu a:hover {
  background: yellowgreen;
}
.header {
  background: lightblue;
  height: min(500px 70%);
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  font-family: lucida sans;
}
.slide{
  overflow: hidden;
}
.slide figure{
  position: relative;
  left: 0;
  margin: 0;
  width: 500%;
  animation: 20s slidey infinite;
}
.slide figure img{
   width: 20%;
   height: 300px;
    float: left;
}
@keyframes slidey{
  0% {
      left: 0%;
  }
  10%{
      left: 0%;
  }
  12%{
      left: -100%;
  }
  22%{
      left: -100%;
  }
  24%{
      left: -200%;
  }
  34%{
      left: -200%;
  }
  36%{
      left: -300%;
  }
  46%{
      left: -300%;
  }
  48%{
      left: -400%;
  }
  58%{
      left: -400%;
  }
  60%{
      left: -300%;
  }
  70%{
      left: -300%;
  }
  72%{
      left: -200%;
  }
  82%{
      left: -200%;
  }
  84%{
      left: -100%;
  }
  94%{
      left: -100%;
  }
  96%{
      left: 0%;
  }
}
.cont{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  background: rgb(219, 216, 209);


}
.cont .one, .tw ,.thr{
  background: #faebd7;
  padding: 5px;

}
footer{
  background: rgb(223, 164, 183);
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  color: rgb(1, 94, 63);
}
@media screen and (max-width:550px){
  .menu {
    background-color: rgb(103, 20, 136);
    min-height: 10px;
    margin-bottom: 0;
  }
  .sub-menu {
    list-style: none;
    float: left;
    padding: 5px;
  }
  .sub-menu a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 15px;
    
  }
  .header{
    font-size: 8px;
    text-align: left;

  }
  .images{
    display: grid;
    grid-template-columns: 40px 40px;
    column-gap: 30%;
  }
  .pics img{
    height: 150px;
    width: 120px;
    padding: 10px;
  
  }
  footer{
    background: rgb(223, 164, 183);
    text-align: center;
    font-weight: bold;
    font-size: 5px;
    color: rgb(1, 94, 63);
  }
  .cont{
    display: flex;
    flex-direction: column;
  }
  .cont .one, .tw ,.thr{
    font-size: 15px;
  }
  .slide{
    margin-left: 60px;
    margin-right: 10px;
    overflow: hidden;
  }
  .slide figure{
    position: relative;
    left: 0;
    margin: 0;
    width: 500%;
    animation: 20s slidey infinite;
  }
  .slide figure img{
     width: 20%;
     height: 100px;
      float: left;
  }
  form{
    margin-top: 5px;
  }
}
